body{
	background: url(https://cdn.pixabay.com/photo/2017/02/24/11/16/scrapbook-2094476_1280.jpg);
	background-repeat:repeat;
	background-size:all;
}

  textarea {
  border-style:outset;
  background-color: #ffbf80;
  border-radius: 10px;
text-align:left;
  color: violet;
    border: 1px solid #ccc;
  
   font-family:Copperplate, Papyrus, fantasy; 
  font-size:30px;
  padding: 1px 6px;width: 600px; height: 70px;
  


}
textarea:focus {
  border-color: black;
;
}

label {
	font-size:30px;
  color: #660066;
  font-weight:bold;
}

li{
  font-size: 30px;
}

input{
  font-size:70px;
   font-family:Copperplate, Papyrus, fantasy;
    background-color:#ffcc00;
     color:#cc7a00;
     padding-left:250px;
      margin-left: 10%;
     margin-right:10%;
	text-align:center;
   }


@media screen and (max-width:500px){
  textarea {
  border-style:outset;
 background-color:light-orange;
  border-radius: 5px;

  text-align:left;
  color:violet;
    border: 1px solid #ccc;
  
  font-size:20px;
  padding: 1px 3px;
width: 300px;
 height: 45px;

}
text:focus{
border-color: red;
}
label {
  font-size: 20px;
  color: green;
  font-weight:bold;
}
li{
  font-size: 25px;
}
input{
  font-size:40px;
   font-family:Copperplate, Papyrus, fantasy;
    background-color:#ffcc00;
     color:#cc7a00;
    width: 100%;
      padding: 1% 1% 1% 1%;
      margin:0;
	text-align: center;

   }

}































