body{
	background: url(https://cdn.pixabay.com/photo/2017/02/24/11/16/scrapbook-2094476_1280.jpg);
	background-repeat:repeat;
	background-size:auto;
}

input {
  border-style:outset;
  background-color:  #ffdd99;
  border-radius: 10px;

  text-align:left;
  color: black;
    border: 1px solid #ccc;
  
  font-size:30px;
  padding: 1px 6px;




  


}
input:focus {
  border-color: red;
}

label {
	font-size: 30px;
  color: #660066;
  font-weight:bold;
}































.navbar {
  width: 100%;
  background-color: #cc0066;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color:#4d0026;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}















